.app {
    --primary-color: #333;
    --spacing-large: 50px;

    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.title {
    color: var(--primary-color);
    font-weight: 600;

    @media (width >= 768px) {
        font-size: 2rem;
    }
}
