@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.loaderContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--theme-card);
}

.title {
    color: var(--theme-text);
    font-weight: 600;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

* {
    font-family: Inter, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: var(--theme-text);
    font-style: normal;
    line-height: 1.1;
}

html {
    background-color: var(--theme-card);
}
