*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    text-size-adjust: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizespeed;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

input,
button,
textarea,
select {
    font: inherit;
    appearance: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    line-height: 1.1;
}

#root,
#__next {
    isolation: isolate;
    height: 100%;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    border: 0;
    height: 1px;
    background: #000;
}

fieldset {
    min-width: 0;
    border: 0;
    margin: 0;
    padding: 0;
}
