.filterSection {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--theme-text-secondary);
}

.filterSubtitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.filterSubtitle {
    font-size: 16px;
    font-weight: 600;
    position: relative;
}

.filterOptions {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 8px;
}

.filterOption {
    user-select: none;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    padding: 4px 0;
    font-size: 14px;
}

.filterOption input[type='checkbox'] {
    position: relative;
    width: 14px;
    height: 14px;
    cursor: pointer;
    border: 1px solid var(--theme-text-secondary);
}

.filterOption input[type='checkbox']:checked {
    background-color: var(--theme-text-secondary);
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.02092 0L2.7435 4.25L0.982207 2.5L0.101562 3.375L2.7435 6L7.90156 0.875L7.02092 0Z' fill='%23FFE2CF'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}

.supplierSearch {
    margin-top: 8px;
    position: relative;
}

.caretIcon {
    transition: transform 0.2s;
}

.caretIconExpanded {
    transform: rotate(0deg);
}

.caretIconCollapsed {
    transform: rotate(-90deg);
}
