.shopsContainer {
    background-color: var(--theme-background);
    border-right: 1px solid var(--theme-border);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    transition:
        width 150ms ease,
        background-color 150ms ease;

    &.shopsContainerExpanded {
        width: fit-content;
    }
}

.shopItem {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    background: transparent;
    padding: 8px 12px;
    position: relative;
    transition: background-color 150ms ease;

    &:hover {
        background-color: var(--theme-hover);
    }
}

.shopItemSelected {
    background-color: var(--theme-hover);
}

.shopAvatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: cover;
}

.shopAvatarBeige {
    background: var(--brown-60);
}

.shopAvatarPurple {
    background: var(--purple-60);
}

.shopAvatarBlue {
    background: var(--blue-60);
}

.shopName {
    font-size: 14px;
}

.editButton {
    background: none;
    border: none;
    margin-left: auto;
    cursor: pointer;
    font-size: 14px;
}

.addShopContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    background: transparent;
    padding: 8px 12px;
    position: relative;
}

.addShopButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: var(--theme-text-secondary);
    border: 1px solid var(--theme-text-secondary);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addShopText {
    font-size: 14px;
}
