.tooltipWrapper {
    position: relative;
    display: inline-block;
}

.tooltip {
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 15px;
    white-space: pre-line;
    z-index: 10;
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.2s;
    max-width: 320px;
    min-width: 220px;
    font-weight: 500;
    line-height: 1.4;
}

.tooltip::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #333;
}
